# 忽略提交以下类型的文件
.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
*.prefs
*.MF
*.log
*.jsdtscope
/.settings/*
/indexes/*
/target/*
target/
.DS_Store
/src/main/webapp/WEB-INF/classes/*
.settings/
output/
/.mvn
*rebel.xml*
remove_iml.bat

.idea/
.zip*
.tar*
*.pyc
__pycache__/


